{% extends "layout.html" %}

{% block title %}
    Attractions
{% endblock %}

{% block main %}
    <div>
        <div class="w3-container w3-black w3-allerta" style="left: 50%;">
          <p class="centred" style="font-size: 70px">Attractions: A Tourist's Paradise</p>
        </div>
    </div>

    <div class="container">
    <div class="row">
        <div class="col-12 ptop col-sm-3">
            <div class="cards  bg-light mb-3">
                <div class="card-header bg-success text-white text-uppercase border"><i class="fa fa-list"></i> Categories</div>
                <ul class="list-group category_block">
                    <li class="list-group-item"><a href="/placestovisit">Places to visit</a></li>
                    <li class="list-group-item active"><a href="/attractions">Recreational Activities</a></li>
                    <li class="list-group-item"><a href = "/temples">Magnificent Temples</a></li>
                    <li class="list-group-item"><a href = "/parks">Exuberating Parks</a></li>
                </ul>
            </div>
    </div>
    <div class="col">
        <div class="row">

            <div class="col-12 col-md-6 col-lg-4 ptop">
                <div class="card" style = "background-color:Khaki;">
                    <img class="card-img-top prodimgs" src="static/images/attractions/rec1.jpg" alt="Card image cap" style="padding: 20px 5px 5px 5px;">
                    <div class="card-body">
                        <div class="col card-title">
                                <p>4km from city center</p>
                        </div>
                        <h4 class="card-title"><b>Ashtanga Yoga Institute</b></h4>
                        <p class="card-text" style = "padding-bottom:5px;">The Ashtanga Yoga Institute based in the peaceful and tranquil environment of Mysore is a disciplined institute that provides comprehensive courses in Ashtanga and Hatha Yoga.</p>
                        <div class="row">
                            <div class="col">
                                <br>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4 ptop">
                <div class="card" style = "background-color:Khaki;">
                    <img class="card-img-top prodimgs" src="static/images/attractions/rec2.jpg" alt="Card image cap" style="padding: 20px 5px 5px 5px;">
                    <div class="card-body">
                        <div class="col card-title">
                                <p>1km from city centre</p>
                        </div>
                        <h4 class="card-title"><b>Mysore Mandala Yoga Shala</b></h4>
                        <p class="card-text">Established in 2001, Mysore Mandala Yoga Shala is a Yoga and Cultural Centre, located in Lakshmipuram, Mysore City, in a Century Old Heritage House.</p>
                        <div class="row">
                            <div class="col">
                                <br>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4 ptop">
                <div class="card" style = "background-color:Khaki;">
                    <img class="card-img-top prodimgs" src="static/images/attractions/rec3.jpg" alt="Card image cap" style="padding: 20px 5px 5px 5px;">
                    <div class="card-body">
                        <div class="col card-title">
                                <p>80km from city centre</p>
                        </div>
                        <h4 class="card-title"><b>Masinagudi</b></h4>
                        <p class="card-text">Masinagudi is a serene and tranquil hill station located near Mysore in the Nilgiri district. A haven for animal and bird lovers, this place is a mesmerizing and spectacular place to be close to nature.</p>
                        <div class="row">
                            <div class="col">
                                <br>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4 ptop">
                <div class="card" style = "background-color:Khaki;">
                    <img class="card-img-top prodimgs" src="static/images/attractions/rec4.jpg" alt="Card image cap" style="padding: 20px 5px 5px 5px;">
                    <div class="card-body">
                        <div class="col card-title">
                                <p>4km from city centre</p>
                        </div>
                        <h4 class="card-title"><b>Karanji Lake</b></h4>
                        <p class="card-text">Karanji Lake placed in Mysore Karnataka, is surrounded by a nature park comprising of a butterfly park and an aviary which is the biggest 'walk-through aviary' in India.</p>
                        <div class="row">
                            <div class="col">
                                <br>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4 ptop">
                <div class="card" style = "background-color:Khaki;">
                    <img class="card-img-top prodimgs" src="static/images/attractions/rec5.jpg" alt="Card image cap" style="padding: 20px 5px 5px 5px; width:75%;">
                    <div class="card-body">
                        <div class="col card-title">
                                <p>3km from city centre</p>
                        </div>
                        <h4 class="card-title"><b>Mysore Zoo</b></h4>
                        <p class="card-text" style = "padding-bottom: 20px;">One of the best zoological gardens in India, it was established in the year 1892 by Maharaja Chamaraja Wodeyar for the royals and handed over to the Dept. of Parks and the State Govt. post freedom.</p>
                        <div class="row">
                            <div class="col">
                                <br>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4 ptop">
                <div class="card" style = "background-color:Khaki;">
                    <img class="card-img-top prodimgs" src="static/images/attractions/rec7.jpg" alt="Card image cap" style="padding: 20px 5px 5px 5px;">
                    <div class="card-body">
                        <div class="col card-title">
                                <p>2km from city centre</p>
                        </div>
                        <h4 class="card-title"><b>Bonsai Garden</b></h4>
                        <p class="card-text">The Bonsai Garden of Mysore is home to over a 100 different varieties of Bonsai trees spread across a vast estate of about 4 acres.</p>
                        <div class="row">
                            <div class="col">
                                <br>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}