{% extends "layout.html" %}

{% block title %}
    Accomodations
{% endblock %}

{% block main %}
    <div>
        <div class="w3-container w3-black w3-allerta" style="left: 50%;">
          <p class="centred" style="font-size: 70px">Accomodations</p>
        </div>
    </div>

    <div class="container">
    <div class="row">
        <div class="col-12 ptop col-sm-3">
            <div class="cards  bg-light mb-3">
                <div class="card-header bg-info text-white text-uppercase border"><i class="fa fa-list"></i> About</div>
                <p>Tired after taking in all the wondrous things Mysuru has to offer ?? Here are some places where
                you can have a good nights sleep and recharge your batteries so you can have another day of unimaginable fun.</p>
            </div>
    </div>
    <div class="col">
        <div class="row">

            <div class="col-12 col-md-6 col-lg-4 ptop">
                <div class="card">
                    <img class="card-img-top prodimgs" src="static/images/hotels/hotelrblu.jpg" alt="Card image cap">
                    <div class="card-body">
                        <div class="col card-title">
                                <p>₹ 5,359</p>
                        </div>
                        <h4 class="card-title">Raddison Blu Plaza</h4>
                        <p class="card-text">8.6⭐ (203 ratings)</p>
                        <div class="row">
                            <div class="col">
                                <br>
                                <a href="https://www.trivago.in/?aDateRange%5Barr%5D=2021-02-04&aDateRange%5Bdep%5D=2021-02-07&iRoomType=1&aRooms%5B0%5D%5Badults%5D=1&cpt2=3492652%2F100&hasList=1&hasMap=0&sharedcid=3492652&tab=overview&ra=" class="btn btn-info" role="button">Book Now </a></div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 ptop">
                <div class="card">
                    <img class="card-img-top prodimgs" src="static/images/hotels/hotelks.jpg" alt="Card image cap">
                    <div class="card-body">
                        <div class="col card-title">
                                <p>₹ 14,346</p>
                        </div>
                        <h4 class="card-title">THe Kings Sanctuary</h4>
                        <p class="card-text">8.1⭐ (415 ratings)</p>
                        <div class="row">
                            <div class="col">
                                <br>
                                <a href="https://www.trivago.in/?aDateRange%5Barr%5D=2021-02-04&aDateRange%5Bdep%5D=2021-02-07&iRoomType=7&aRooms%5B0%5D%5Badults%5D=2&cpt2=1148211%2F100&hasList=1&hasMap=0&sharedcid=1148211&tab=overview&ra=" class="btn btn-info" role="button">Book Now </a></div>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>

            <div class="col-12 col-md-6 col-lg-4 ptop">
                <div class="card">
                    <img class="card-img-top prodimgs" src="/static/images/hotels/hotelgmercure.jpg" alt="Card image cap">
                    <div class="card-body">
                        <div class="col card-title">
                                <p>₹ 3,355</p>
                        </div>
                        <h4 class="card-title">Hotel Grand Mercure</h4>
                        <p class="card-text">7.8⭐ (433 ratings)</p>
                        <div class="row">
                            <div class="col">
                                <br>
                                <a href="https://www.trivago.in/?aDateRange%5Barr%5D=2021-02-04&aDateRange%5Bdep%5D=2021-02-07&iRoomType=7&aRooms%5B0%5D%5Badults%5D=2&cpt2=5140520%2F100&hasList=1&hasMap=0&sharedcid=5140520&tab=overview&ra=" class="btn btn-info" role="button">Book Now </a></div>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>

            <div class="col-12 col-md-6 col-lg-4 ptop">
                <div class="card">
                    <img class="card-img-top prodimgs" src="static/images/hotels/hotelquorum.jpg" alt="Card image cap">
                    <div class="card-body">
                        <div class="col card-title">
                                <p>₹ 1,674</p>
                        </div>
                        <h4 class="card-title">The Quorum</h4>
                        <p class="card-text">8.1⭐ (923 ratings)</p>
                        <div class="row">
                            <div class="col">
                                <br>
                                <a href="https://www.trivago.in/?aDateRange%5Barr%5D=2021-02-04&aDateRange%5Bdep%5D=2021-02-07&iRoomType=7&aRooms%5B0%5D%5Badults%5D=2&cpt2=2216130%2F100&hasList=1&hasMap=0&sharedcid=2216130&tab=overview&ra=" class="btn btn-info" role="button">Book Now </a></div>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>

            <div class="col-12 col-md-6 col-lg-4 ptop">
                <div class="card">
                    <img class="card-img-top prodimgs" src="static/images/hotels/hoteljlp.jpg" alt="Card image cap">
                    <div class="card-body">
                        <div class="col card-title">
                                <p>₹ 4,078</p>
                        </div>
                        <h4 class="card-title">Fortune JP Palace</h4>
                        <p class="card-text">8.4⭐ (1649 ratings)</p>
                        <div class="row">
                            <div class="col">
                                <br>
                                <a href="https://www.trivago.in/?aDateRange%5Barr%5D=2021-02-04&aDateRange%5Bdep%5D=2021-02-07&iRoomType=7&aRooms%5B0%5D%5Badults%5D=2&cpt2=1838859%2F100&hasList=1&hasMap=0&sharedcid=1838859&tab=overview&ra=" class="btn btn-info" role="button">Book Now </a></div>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>

            <div class="col-12 col-md-6 col-lg-4 ptop">
                <div class="card">
                    <img class="card-img-top prodimgs" src="static/images/hotels/hotelorchid.jpg" alt="Card image cap">
                    <div class="card-body">
                        <div class="col card-title">
                                <p>₹ 3,963</p>
                        </div>
                        <h4 class="card-title">Royal Orchid Metropole</h4>
                        <p class="card-text">8.2⭐ (459 ratings)</p>
                        <div class="row">
                            <div class="col">
                                <br>
                                <a href="" class="btn btn-info" role="button">Book Now </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}