{% extends "layout.html" %}

{% block title %}
    Attractions
{% endblock %}

{% block main %}
    <div>
        <div class="w3-container w3-black w3-allerta" style="left: 50%;">
          <p class="centred" style="font-size: 70px">Attractions: A Tourist's Paradise</p>
        </div>
    </div>

    <div class="container">
    <div class="row">
        <div class="col-12 ptop col-sm-3">
            <div class="cards  bg-light mb-3">
                <div class="card-header bg-success text-white text-uppercase border"><i class="fa fa-list"></i> Categories</div>
                <ul class="list-group category_block">
                    <li class="list-group-item"><a href="/placestovisit">Places to visit</a></li>
                    <li class="list-group-item"><a href="/attractions">Recreational Activities</a></li>
                    <li class="list-group-item"><a href = "/temples">Magnificent Temples</a></li>
                    <li class="list-group-item active"><a href = "/parks">Exuberating Parks</a></li>
                </ul>
            </div>
    </div>
    <div class="col">
        <div class="row">

            <div class="col-12 col-md-6 col-lg-4 ptop">
                <div class="card" style = "background-color:Khaki;">
                    <img class="card-img-top prodimgs" src="static/images/parks/park1.png" alt="Card image cap" style="padding: 20px 5px 5px 5px;">
                    <div class="card-body">
                        <div class="col card-title">
                                <p>2km from city centre</p>
                        </div>
                        <h4 class="card-title"><b>Sanjeevini Park</b></h4>
                        <p class="card-text" style = "padding-bottom:5px;">Sanjeevini Park is an urban park situated in the heart of Mysore city in Saraswathipuram. The highlight of the park is the massive Laughing Buddha statue installed right in the centre of the park.</p>
                        <div class="row">
                            <div class="col">
                                <br>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4 ptop">
                <div class="card" style = "background-color:Khaki;">
                    <img class="card-img-top prodimgs" src="static/images/parks/park2.png" alt="Card image cap" style="padding: 20px 5px 5px 5px;">
                    <div class="card-body">
                        <div class="col card-title">
                                <p>1km from city centre</p>
                        </div>
                        <h4 class="card-title"><b>Freedom Fighter's Park</b></h4>
                        <p class="card-text">Speaking of parks, we cannot forget to include Freedom Fighter's Park in the list owing to its resplendent beauty, vibrant flower beds and lush green lawns.</p>
                        <div class="row">
                            <div class="col">
                                <br>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4 ptop">
                <div class="card" style = "background-color:Khaki;">
                    <img class="card-img-top prodimgs" src="static/images/parks/park3.png" alt="Card image cap" style="padding: 20px 5px 5px 5px;">
                    <div class="card-body">
                        <div class="col card-title">
                                <p>3km from city centre</p>
                        </div>
                        <h4 class="card-title"><b>Cheluvamba Park</b></h4>
                        <p class="card-text">Sitauted in Medar Block, Yadavagiri in Mysore, Cheluvamba Park is spread over 9 acres of land and boasts of lush greenery.</p>
                        <div class="row">
                            <div class="col">
                                <br>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4 ptop">
                <div class="card" style = "background-color:Khaki;">
                    <img class="card-img-top prodimgs" src="static/images/parks/park4.jpg" alt="Card image cap" style="padding: 20px 5px 5px 5px;">
                    <div class="card-body">
                        <div class="col card-title">
                                <p>1km from city centre</p>
                        </div>
                        <h4 class="card-title"><b>Javaregowda Park</b></h4>
                        <p class="card-text">Javaregowda Park is situated in the Saraswathipuram area of Mysore and is especially popular among the kids owing to the presence of an array of fun rides and swings.</p>
                        <div class="row">
                            <div class="col">
                                <br>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4 ptop">
                <div class="card" style = "background-color:Khaki;">
                    <img class="card-img-top prodimgs" src="static/images/parks/park5.png" alt="Card image cap" style="padding: 20px 5px 5px 5px; width:75%;">
                    <div class="card-body">
                        <div class="col card-title">
                                <p>1km from city centre</p>
                        </div>
                        <h4 class="card-title"><b>Dr. Ambedkar's Park</b></h4>
                        <p class="card-text">Located in Jayanagar, Dr. Ambedkar's Park is one of the popular parks in Mysore. Built in between the residential properties, the park is a perfect place to relax and rejuvenate from the pell- mell of life.</p>
                        <div class="row">
                            <div class="col">
                                <br>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4 ptop">
                <div class="card" style = "background-color:Khaki;">
                    <img class="card-img-top prodimgs" src="static/images/parks/park6.jpg" alt="Card image cap" style="padding: 20px 5px 5px 5px;">
                    <div class="card-body">
                        <div class="col card-title">
                                <p>4km from city centre</p>
                        </div>
                        <h4 class="card-title"><b>Lingambudhi Park</b></h4>
                        <p class="card-text">Situated on the north-eastern side of the Lingambudhi Lake, Lingumbudhi Park is a gorgeous park in Mysore. The park is in a state of all wilderness, it has umpteen bamboo trees.</p>
                        <div class="row">
                            <div class="col">
                                <br>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}