{% extends "layout.html" %}

{% block title %}
    Covid-19
{% endblock %}

{% block main %}
    <div>
        <div class="w3-container w3-black w3-allerta" style="left: 50%;">
          <p class="centred" style="font-size: 55px"><img src="/static/images/Mysuru.png" width="80" height="80" class="d-inline-block" alt="" loading="lazy">
              Covid-19 Guidelines
          </p>
        </div>
    </div>



    <div>
        <br><h3><b>Protect yourself and others from COVID-19</b></h4>

    </div>
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading"><b>What to do to keep yourself and others safe from COVID-19?</b><br> </h2><br>
        <p class="lead">
          <ul>
            <li style="font-size:large;">Maintain at least a 1-metre distance between yourself and others to reduce your risk of infection when they cough, sneeze or speak</li>
            <li style="font-size:large;">Make wearing a mask a normal part of being around other people</li>
            <li style="font-size:large;">The appropriate use, storage and cleaning or disposal are essential to make masks as effective as possible</li>
          </ul>
        </p>
      </div>
      <div class="col-md-5">
        <img src="/static/images/covid19/covid1.jpg" align="right" style="width: 450px; height: 300px; padding: 20px 40px 20px 15px;">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading"><b>How to make your environment safer?</b><br><br></h2>
        <p class="lead" style = "padding: 5px 25px 15px 5px;">
          <ul>
            <li style="font-size:large;">Avoid the 3Cs: spaces that are closed, crowded or involve close contact</li>
            <li style="font-size:large;">Meet people outside. Outdoor gatherings are safer than indoor ones, particularly if indoor spaces are small and without outdoor air coming in</li>
            <li style="font-size:large;">Cover your mouth and nose with your bent elbow or tissue when you cough or sneeze</li>
          </ul>
        </p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="/static/images/covid19/covid4.jpg" align="right" style="width: 500px; height: 350px; padding: 50px 20px 20px 50px;">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading"><b>Don’t forget the basics of good hygiene</b><br> </h2><br>
        <p class="lead">
          <ul>
            <li style="font-size:large;">Regularly and thoroughly clean your hands with an alcohol-based hand rub or wash them with soap and water</li>
            <li style="font-size:large;">Avoid touching your eyes, nose and mouth</li>
            <li style="font-size:large;">Clean and disinfect surfaces frequently especially those which are regularly touched</li>
          </ul>
        </p>
      </div>
      <div class="col-md-5">
        <img src="/static/images/covid19/covid5.jpg" align="right" style="width: 550px; height: 300px; padding: 20px 20px 20px 35px;">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading"><b>What to do if you feel unwell?</b><br><br></h2>
        <p class="lead" style = "padding: 5px 25px 15px 5px;">
          <ul>
            <li style="font-size:large;">Know the full range of symptoms of COVID-19. The most common symptoms of COVID-19 are fever, dry cough, and tiredness</li>
            <li style="font-size:large;">Stay indoors and self-isolate even if you have minor symptoms such as cough, headache, mild fever, until you recover</li>
            <li style="font-size:large;">Keep up to date on the latest information from trusted sources, such as WHO or your local and national health authorities</li>
          </ul>
        </p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="/static/images/covid19/covid6.jpeg" align="right" style="width: 550px; height: 370px; padding: 30px 20px 40px 90px;">
      </div>
    </div>


{% endblock %}