{% extends "layout.html" %}

{% block title %}
    Attractions
{% endblock %}

{% block main %}
    <div>
        <div class="w3-container w3-black w3-allerta" style="left: 50%;">
          <p class="centred" style="font-size: 70px">Attractions: A Tourist's Paradise</p>
        </div>
    </div>

    <div class="container">
    <div class="row">
        <div class="col-12 ptop col-sm-3">
            <div class="cards  bg-light mb-3">
                <div class="card-header bg-success text-white text-uppercase border"><i class="fa fa-list"></i> Categories</div>
                <ul class="list-group category_block">
                    <li class="list-group-item"><a href="/placestovisit">Places to visit</a></li>
                    <li class="list-group-item"><a href="/attractions">Recreational Activities</a></li>
                    <li class="list-group-item active"><a href = "/temples">Magnificent Temples</a></li>
                    <li class="list-group-item"><a href = "/parks">Exuberating Parks</a></li>
                </ul>
            </div>
    </div>
    <div class="col">
        <div class="row">

            <div class="col-12 col-md-6 col-lg-4 ptop">
                <div class="card" style = "background-color:Khaki;">
                    <img class="card-img-top prodimgs" src="static/images/temples/temple1.jpg" alt="Card image cap" style="padding: 20px 5px 5px 5px;">
                    <div class="card-body">
                        <div class="col card-title">
                                <p style = "font-size:small;">Timings : 7:30 AM - 2:00 PM, 3:30 PM - 6:00 PM, 7:30 PM - 9:00 PM</p>
                        </div>
                        <h4 class="card-title"><b>Chamundeshwari Temple</b></h4>
                        <p class="card-text" style = "padding-bottom:5px;">Built atop the Chamundi Hills, this temple dates back to the 12th century. The idol of the main deity is made of gold.</p>
                        <div class="row">
                            <div class="col">
                                <br>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4 ptop">
                <div class="card" style = "background-color:Khaki;">
                    <img class="card-img-top prodimgs" src="static/images/temples/temple2.jpg" alt="Card image cap" style="padding: 20px 5px 5px 5px;">
                    <div class="card-body">
                        <div class="col card-title">
                                <p>26km from city centre</p>
                        </div>
                        <h4 class="card-title"><b>Somanathapura Temple</b></h4>
                        <p class="card-text">The village is named after Somnath, the commander of the Hoysala army who founded this place.It has a perfect natural setting for a family picnic.</p>
                        <div class="row">
                            <div class="col">
                                <br>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4 ptop">
                <div class="card" style = "background-color:Khaki;">
                    <img class="card-img-top prodimgs" src="static/images/temples/temple3.jpg" alt="Card image cap" style="padding: 20px 5px 5px 5px;">
                    <div class="card-body">
                        <div class="col card-title">
                                <p>"Kashi of the South"</p>
                        </div>
                        <h4 class="card-title"><b>Talakadu</b></h4>
                        <p class="card-text">Nestled on the banks of River Cauvery, Talakadu is quite famous among the devotees who come here for a special worship.</p>
                        <div class="row">
                            <div class="col">
                                <br>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4 ptop">
                <div class="card" style = "background-color:Khaki;">
                    <img class="card-img-top prodimgs" src="static/images/temples/temple4.jpg" alt="Card image cap" style="padding: 20px 5px 5px 5px;">
                    <div class="card-body">
                        <div class="col card-title">
                                <p>2km from city centre</p>
                        </div>
                        <h4 class="card-title"><b>Trinesvaraswamy Temple</b></h4>
                        <p class="card-text">This ancient temple is located outside the Mysore Fort, the main deity being Trinesvara i.e. the three eyed Shiva.</p>
                        <div class="row">
                            <div class="col">
                                <br>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4 ptop">
                <div class="card" style = "background-color:Khaki;">
                    <img class="card-img-top prodimgs" src="static/images/temples/temple5.jpg" alt="Card image cap" style="padding: 20px 5px 5px 5px; width:75%;">
                    <div class="card-body">
                        <div class="col card-title">
                                <p>41km from city centre</p>
                        </div>
                        <h4 class="card-title"><b>Melukote Temples</b></h4>
                        <p class="card-text">The two temples in Melukote are Tirunarayana temple and Yoga Narasimha, both located at the foothills and top respectively of the Yadavgiri hills.</p>
                        <div class="row">
                            <div class="col">
                                <br>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4 ptop">
                <div class="card" style = "background-color:Khaki;">
                    <img class="card-img-top prodimgs" src="static/images/temples/temple6.jpg" alt="Card image cap" style="padding: 20px 5px 5px 5px;">
                    <div class="card-body">
                        <div class="col card-title">
                                <p>20km from city centre</p>
                        </div>
                        <h4 class="card-title"><b>Srikantesvara Temple</b></h4>
                        <p class="card-text">This temple built in the Dravidian style is dedicated to Lord Shiva and is said to have healing powers. The 125 feet tall Gopura along with the 7 gold kalash are a must see on visiting this temple.</p>
                        <div class="row">
                            <div class="col">
                                <br>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}