<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1 shrink-to-fit=no">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
  integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
          integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
          integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
          integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  <script type="text/javascript">window.setTimeout("document.getElementById('msg').style.display='none';", 2000); </script>

  <link href="/static/styles.css" rel="stylesheet">
  <link href="/static/footer.css" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

  <title>
    Visit Mysuru!
  </title>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-light bg-dark ">
        <a class="navbar-brand" href="/home" style="color: white; font-size:35px">
    <img src="/static/images/Mysuru.png" width="45" height="45" class="d-inline-block align-top" alt="" loading="lazy"> Visit Mysuru </a>
        <div class="collapse navbar-collapse heading" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link"  style="color: white" href="/placestovisit">Attractions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  style="color: white" href="/history">History</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  style="color: white" href="/hotels">Accomodations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  style="color: white" href="/opportunities">Opportunities</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  style="color: white" href="/prevention">Covid Guidelines</a>
          </li>
        </ul>
  </div>
</nav>

<div class="bgimg-1">
  <div class="caption">
  <span class="border" style="font-size: 85px; font-family: san-serif;">
    <img src="/static/images/Mysuru.png" width="110" height="110" class="d-inline-block" alt="" loading="lazy">
    Visit Mysuru</span>
  </div>
</div>


<div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
  <h3 style="text-align:center;">Why Mysuru?</h3>
  <p>If you think the beauty of Mysore is restricted to magnificent palaces and other majestic buildings, then you probably have not heard of
  Brindavan Gardens, Mysore Zoo, Chamundi Hills, or Karanji Lake. These spectacular places, including a few sprawling gardens, and some stunning
  waterfalls & lakes, makes Mysore, one of the best tourist destinations in Karnataka. Mysore, which is also known as the cultural capital of
  Karnataka, is home to many opulent and royal palaces. It has several yoga centres and lush green sandalwood forests, that gave this city names
  like 'City of Palaces', 'Sandalwood City', and 'City of Yoga'. The cosmopolitan nature of the city and its affluent standard of living further
  adds beauty to Mysore, which consists people of all religion and facets of life. To create a beautiful memory of your trip, you must plan your
  vacations to this fascinating city now! Here are some of the best places to visit in Mysore that captures the true beauty of Karnataka and
  makes it a must visit destination in India.</p>
</div>

<div class="bgimg-2">
  <div class="caption">
    <p style="font-size:250%;color: #fff;"><b>Visit the Palace City!</b></p>
  </div>
</div>

<div style="position:relative;">
  <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
    <h3 style="text-align:center; color: white;" class="header">WHERE TO STAY?</h3>
  <p>There are plenty of accommodation options in Mysore that offer comfortable and relaxed atmosphere to the tourists, visiting the city from
  all over the world. Right from budget hotels to standard hotels to luxury ones, the city has a wide range of accomodation options to offer guests
  great facilities at a reasonable price. A couple of luxury hotels here provide affluent services, however, be ready to pay more, if you intend to
  book a room there. The list of hotels mentioned below can help you choose the best place to stay comfortably in the natural surrounding of Mysore.</p>
  <div style="text-align:center">
      <a class="btn btn-outline-primary" href="/hotels">Accomodation</a>
    </div>
  </div>
</div>

<div class="bgimg-3">
  <div class="caption">
        <p style="font-size:250%;color: #fff;"><b>The 2nd Cleanest City in the country!</b></p>
  </div>
</div>

<div style="position:relative;">
  <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
    <h3 style="text-align:center; color: white;">Best time to Visit!</h3>
    <p style="text-align:center;">Do you want to be a part of colorful fairs and festivals in Mysore? If yes, you can visit this dazzling city
    during Ugadi or Dasara festival to be a part of the much awaited celebration that takes place every year in Mysore. These festivals and other
    cultural events represent the traditional legacy of previous time; where people participate in these events with complete devotion and belief.
    Some of the popular festivals that take place in the Mysore city are Dasara festival, Vairamudi festival, Ugadi festival, and Dusshera. These
    are the best time to visit Mysore but don't worry this city will give a lifetime of memories all year round. </p>
  </div>
</div>

<div class="bgimg-1">
  <div class="caption">
    <span class="border" style="font-size: 170%; letter-spacing: 7px">
    Created by BitLegion!<br><br> &nbsp;For Queries:</span>
    <br><br><br><br>
    <span class="border" style="font-size: 120%; letter-spacing: 7px">
        <a href="mailto:visitmysore@enquiry.com">visitmysore@enquiry.com</a>
    </span>
  </div>
</div>

<footer class="footer-distributed">

	<div class="footer-left">

		<h3>Visit Mysore</h3>

		<p class="footer-links">
			<a href="/">Home</a>
			·
			<a href="/placestovisit">Attraction</a>
			·
			<a href="/hotels">Accomodation</a>
			·
			<a href="/joinus">About</a>
			·
			<a href="#">FAQs</a>
			·
			<a href="#">Contact</a>
		</p>

		<p class="footer-company-name">Visit Mysuru &copy; 2020</p>
	</div>

	<div class="footer-center">

		<div>
			<i class="fa fa-map-marker"></i>
			<p>Mysore, Karnataka</p>
		</div>

		<div>
			<i class="fa fa-phone"></i>
			<p>+91 980 123456</p>
		</div>

		<div>
			<i class="fa fa-envelope"></i>
			<p><a href="mailto:ayushmajumdar6501@gmail.com">visitmysuru@enquiry.com</a></p>
		</div>

	</div>

	<div class="footer-right">

		<p class="footer-company-about">
			<span>12.2958° N, 76.6394° E</span>
			Mysore - A Traveller's Dream Vacation !!
		</p>

		<div class="footer-icons">

			<a class="navbar-brand fa" href="#">
        <img src="/static/images/fb.png" width="35" height="35" class="d-inline-block align-top" alt="" loading="lazy">
      </a>
      <a class="navbar-brand fa" href="#">
        <img src="/static/images/insta.png" width="35" height="35" class="d-inline-block align-top" alt="" loading="lazy">
      </a>
      <a class="navbar-brand fa" href="#">
        <img src="/static/images/twitter.png" width="35" height="35" class="d-inline-block align-top" alt="" loading="lazy">
      </a>
    	</div>

    	</div>

    </footer>


</body>
</html>